<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imf.famtree" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar" >
        <activity
            android:name=".MostrarPerfil"
            android:exported="false" />
        <activity
            android:name=".EditarMiembro"
            android:exported="false" />
        <activity
            android:name=".MostrarMiembro"
            android:exported="false" />
        <activity
            android:name=".MostrarArbol"
            android:exported="false" />
        <activity
            android:name=".SubirArbol"
            android:exported="false" />
        <activity
            android:name=".CrearMiembro"
            android:exported="false" />
        <activity
            android:name=".inicio.Login"
            android:exported="false" />
        <activity
            android:name=".inicio.Registro"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".inicio.Inicio"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>